<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>屌丝</string>
		<key>needText</key>
		<string>完成50关</string>
		<key>type</key>
		<string>0</string>
		<key>description</key>
		<string>恭喜你成为一名屌丝，你说你不是屌丝？那你为什么玩这个游戏…</string>
		<key>need</key>
		<integer>51</integer>
		<key>id</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>老司机</string>
		<key>needText</key>
		<string>完成100关</string>
		<key>type</key>
		<integer>0</integer>
		<key>description</key>
		<string>恭喜你成为一名老司机，现在你可以为屌丝们去带路了</string>
		<key>need</key>
		<integer>101</integer>
		<key>id</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>羞羞的事</string>
		<key>needText</key>
		<string>使用一次提示功能</string>
		<key>type</key>
		<integer>1</integer>
		<key>description</key>
		<string>作弊也是羞羞的事呀</string>
		<key>need</key>
		<integer>1</integer>
		<key>id</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>收藏家</string>
		<key>needText</key>
		<string>攒下超过1024软妹币</string>
		<key>type</key>
		<integer>2</integer>
		<key>description</key>
		<string>看的出你是一个收藏家，记得整理你的硬盘…</string>
		<key>need</key>
		<integer>1024</integer>
		<key>id</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>白领</string>
		<key>needText</key>
		<string>获取超过2048软妹币</string>
		<key>type</key>
		<integer>3</integer>
		<key>description</key>
		<string>恭喜，你的收入达到了白领标准，什么?你说你想要个女秘书…?</string>
		<key>need</key>
		<real>2048</real>
		<key>id</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>好人一生平安</string>
		<key>needText</key>
		<string>完成一次分享</string>
		<key>type</key>
		<integer>4</integer>
		<key>description</key>
		<string>面对无数屌丝期盼的眼神，你高傲的施舍出了Link</string>
		<key>need</key>
		<integer>1</integer>
		<key>id</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>版主</string>
		<key>needText</key>
		<string>完成十次分享</string>
		<key>type</key>
		<integer>4</integer>
		<key>description</key>
		<string>版主，再来一发吧~</string>
		<key>need</key>
		<integer>10</integer>
		<key>id</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>坑爹</string>
		<key>needText</key>
		<string>回答错误10次</string>
		<key>type</key>
		<integer>5</integer>
		<key>description</key>
		<string>太坑爹了~穿上衣服，我一个都不认识了…</string>
		<key>need</key>
		<integer>10</integer>
		<key>id</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>撸Sir</string>
		<key>needText</key>
		<string>使用一次撸软妹币</string>
		<key>type</key>
		<integer>6</integer>
		<key>description</key>
		<string>少年，记住老湿一句话:小撸怡情，大撸伤身，强撸灰飞烟灭啊…</string>
		<key>need</key>
		<integer>1</integer>
		<key>id</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>胡撸娃</string>
		<key>needText</key>
		<string>使用十次撸软妹币</string>
		<key>type</key>
		<integer>6</integer>
		<key>description</key>
		<string>胡撸娃，胡撸娃，本领大~</string>
		<key>need</key>
		<integer>10</integer>
		<key>id</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>铁杵磨成针</string>
		<key>needText</key>
		<string>使用20次撸软妹币</string>
		<key>type</key>
		<integer>6</integer>
		<key>description</key>
		<string>只要功夫深呀~铁杵磨成针呀~</string>
		<key>need</key>
		<integer>20</integer>
		<key>id</key>
		<integer>11</integer>
	</dict>
</array>
</plist>
